@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 770px;
    margin: 24px auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 24px;
}