@use "../../sass-utils/colors";

.overlay {
    background-color: colors.$black-a60;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    &.hidden {
        display: none;
    }
}