$black: #333332;
$black-a60: rgba($black, 0.6);
$black-a30: rgba($black, 0.3);
$black-a12: rgba($black, 0.12);
$black-a08: rgba($black, 0.08);
$black-a04: rgba($black, 0.04);

$active: #5CB86E;
$active-a20: rgba($active, 0.2);
$active-a30: rgba($active, 0.3);

$danger: #e44232;